## Load data in Pandas

In [5]:
import pandas as pd 

data_path = './data/'
csv_data = 'pokemon_data.csv'
txt_data = 'pokemon_data.txt'
excel_data = 'pokemon_data.xlsx'

df = pd.read_csv(data_path + csv_data)
df_excel = pd.read_excel(data_path + excel_data)
df_txt = pd.read_csv(data_path + txt_data, delimiter='\t')

# print(df_txt.head())
#print(df_excel.head())
# print(df.head())

## Reading Data in Pandas

In [2]:
# #Read Headers
# print(df.columns)

# #Read Each Column
# print(df['Name'][0:5])
# print(df[['Name', 'Type 1', 'Type 2']])

# #Read Each Row
# print(df.head(4))
# print(df.iloc[1]) # the 1 row
# print(df.iloc[1:4]) # the 1-4 rows

# # A useful way to get rows
# for index, row in df.iterrows():
#     print(index, row['Name'])

# # 对特定的字段进行条件查询
# df.loc[df['Type 1'] == "Fire"]

# #Read a specific Location(R, C)
# print(df.iloc[2, 1])

## Sorting/Describing Data

In [10]:
# df.describe()
# df.sort_values("Name", ascending=False)
# df.sort_values(["Type 1", "HP"], ascending=True)
# df.sort_values(["Type 1", "HP"], ascending=[True, False]) # [1, 0]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

## Making changes to the Data

In [19]:
# df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
# df = df.drop(columns='Total') # 如果要删除多列，column=[]
# df['Total'] = df.iloc[:, 4:10].sum(axis=1)

# cols = list(df.columns.values)
# df = df[cols[0:4] + [cols[-1]] + cols[4:12 ]]

# df.head(5)

## Saving Our Data (Exporting into Desired Format)

In [25]:
# df.to_csv(data_path + "modified.csv", index=False)

# df.to_excel(data_path + "modified.xlsx", index=False)

# df.to_csv(data_path + "modified.txt", index=False, sep='\t')

## Filtering the Data

In [70]:
# df.loc[df["Type 1"] == "Grass"]
# new_df = df.loc[(df["Type 1"] == "Grass") & (df["Type 2"] == "Poison") & (df["HP"] > 70)] # and & ; or | 
# new_df
# new_df.to_csv(data_path + "filtered.csv")
# new_df = new_df.reset_index(drop=True) # Drop丢弃原来的索引
# new_df.reset_index(drop=True, inplace=True) # 不同赋值，直接在原来的表格上进行修改

# new_df

In [69]:
# df.loc[df['Name'].str.contains('Mega')]
# df.loc[~df['Name'].str.contains('Mega')]

In [71]:
import re

# df.loc[df['Type 1'].str.contains('fire|grass', regex=True)] # 没有任何返回，因为大小写敏感
# df.loc[df['Type 1'].str.contains('fire|grass', flags = re.I, regex=True)] # 有返回，因为忽略大小写
# df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)] # start with pi

## Consitional Changes

In [72]:
# df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'
# df.loc[df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire' # 还原

# df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True
# df

In [73]:
# df = pd.read_csv(data_path + 'modified.csv')
# df.loc[df['Total'] > 500, ['Generation', 'Legendary ']] = 'TEST VALUE'

# df.loc[df['Total'] > 500, ['Generation', 'Legendary ']] = ['TEST 1', 'TEST 2']
# df

## Aggregate Statistics (Groupby)

In [74]:
df = pd.read_csv(data_path + 'modified.csv')

# df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)
# df.groupby(['Type 1']).sum()

# df['count'] = 1
# df.groupby(['Type 1']).count()['count']
# df.groupby(['Type 1', 'Type 2']).count()['count']

## Working with large amounts of data

In [75]:
# new_df = pd.DataFrame(columns=df.columns)

# for df in pd.read_csv(data_path + 'modified.csv', chunksize=5):
#     result = df.groupby(['Type 1']).count()
#     print(result)
#     new_df = pd.concat([new_df, result ])

In [76]:
# print(new_df)